h2 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  margin: 0;
}

.App {
  height: 100vh;
  width: 100%;
  background-image: url('./../images/1.jfif');
  background-size: 1550px auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-content: center;
}