.container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}
.posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.post {
    width: 300px;
    padding: 15px;
    background-color: white;
    border: 1px solid #e5e5e5;
}
.post-desc {
    font-weight: 700;
    color: #0089d0;
    font-size: 14px;
}
.post-title {
    font-weight: 700;
    color: #0089d0;
    font-size: 14px;
}
.post-img {
    height: 150px;
}
.post-img-pb {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}
.post-price {
    color: #0089d0;
    font-size: 14px;
}
.post-price-value {
    font-size: 17px;
    color: #000;
}
.post-desc-value {
    font-weight: normal;
    color: #000;
}